@import "vars";
@import "mixin";

.child {
  position: relative;
  text-align: center;
  margin-top: 60px;

  .paint {
    position: absolute;
    left: 55%;
    top: -80px;
  }

  &__title {
  @include title;
  }
  &__img {
    border-radius: 50%;
  }
  &__inner {
    display: flex;
    justify-content: space-around;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  &__item {
    width: 400px;
    height: 470px;
    background-color: #ffebf9;
    border-radius: 20px;
    gap: 31px;

    &-title {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
    }
  }
  &__btn {
      padding: 10px 38px;
  }
  &__item1 {
    background-color: #e3ecff;
  }
  &__item2 {
    background-color: #a1eb7c;
  }
  .line2 {
    position: absolute;
    left: 32%;
  }
  .finger {
      position: absolute;
      left: 75%;
      top: 105%;
  }

}
