@import "vars";
.sponsor {
  &__title {
    margin-top: 114px;
    @include title;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__logo-img {
    margin: 0 10px;
    
    background: #ffffff;
    
  }
}
